p{
    color: blue;
    background-color: lavender;
    width: 150%;
    height: 200px;
    font-size: 200%
}
h1{
    background-color: lavender;
    text-align: center;
    color: red;
    width:100%;
    height: inherit;
}